html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px 60px;
    height: calc(100vh - 80px);
}

#modalTitle {
	margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}


input[type="file"] {
    border: none;
    padding: 10px 0;
}

/* Additional styles */
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    appearance: none;
    background: url('../assets/select_arrow.svg') no-repeat right 10px center;
}